{
  "bot_token": "YOUR_TOKEN_HERE",
  "account_name": "my_account",
  "plugins": {
    "root": "plugins"
  },
  "admins": [
    "YOUR_ID_HERE"
  ],
  "welcome": "Welcome in {}, [{}](tg://user?id={})!",
  "disclaimer": "SET HERE YOUR DISCLAIMER",
  "my_username": "YOUR_BOT_USERNAME"
}